/*========================== General settings ===============================*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --white: rgb(226, 226, 226);
    --pink: #dd69b3;
    --primary-font: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

body {
    font-family: var(--primary-font);
}

li {
    list-style-type: none;
}

/* =========================== Navbar and welcome page ====================== */
header {
    height: 100vh;
    background-image: url(/Pictures/Landing.jpg);
    background-size: cover;
    /* background-size: 200%; */
    background-repeat: no-repeat;
    background-position: center;
    /* background-attachment: fixed; */
}

/* header::after {
    opacity: 0.5;
    background: url(/Pictures/Landing.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
} */

nav {
    /* background-color: gray; */
    padding: 10px;
    display: flex;
    align-items: center;
    /* max-width: 90%; */
    margin: auto;

}

#logo {
    /* font-family: var(--primary-font); */
}
.nav-list {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
}

.nav-list li, #login, #signup  {
    padding: 5px 15px;
    letter-spacing: 4px;
}

.nav-list li:hover {
    color: var(--pink)
}

#login, #signup {
    cursor: pointer;
    font-weight: 900;
    border: none;
    margin-right: 17px;
}

#login {
    background-color: black;
    color: rgb(226, 226, 226);
}

#login:hover {
    background-color: rgb(43, 40, 40);
}

#signup {
    background-color: var(--pink);
    color: var(--white);
}

#signup:hover {
    background-color: #aa3c80;
}

/* =========================== Featured film portofolio ====================== */

.film-portofolio {
    height: 100vh;
    background-color: #1c1c1b;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: rgb(250, 228, 215);
}

.film-portofolio h1 {
    width: 500px;
    /* top: -80px; */
    position: relative;
    font-family: monospace;
    text-align: center;
    font-size: 2vw;
    letter-spacing: 5px;
}


.film-section {
    display: flex;
    flex-direction: row;
    gap: 20px;
    height: 55vh;
    width: 100%;
}

.film-container {
    overflow: hidden;
    /* border: 5px solid rgb(68, 57, 52); */
    /* border-radius: 2px; */
    flex: 1;
}

.film-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.7s;
    /* transform: rotate3d(1, 1, 1, 10deg); */
}

.film-img:hover {
    transform: scale(1.05);
}

/* .navigation {
    padding-top: 50px;
} */

/* =========================== Black and White section ====================== */

.black-white-container {
    height: 100vh;
    width: 100%;
    /* background-color:rgb(253, 248, 240); */
    background: linear-gradient(to right, rgb(238, 238, 238), rgb(0, 0, 0), rgb(253, 236, 219));
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
}


.black-white-left {
    max-width: 27vw;
    height: auto;
    position: absolute;
    top: 5%;
    left: 2%;
    transform: rotate3d(-1, -1, -0.1, 25deg);
    transition: 0.7s;
    z-index: 10;
}
.black-white-left:hover {
    transform: rotate3d(1, -1, -0.1, 25deg);
    transform: scale(1.03);
}

.black-white-main {
    width: 50vw;
    height: auto;
    object-fit: cover;
    transition: 0.7s;
    overflow: hidden;
    z-index: 3;
}

.black-white-right {
    max-width: 30vw;
    height: auto;
    position: absolute;
    bottom: 10%;
    right: 1%;
    transform: rotate3d(0.5, 1, 1, 30deg);
    transition: 0.7s;
    z-index: 10;
}
.black-white-right:hover {
    transform: rotate3d(1, -1, 0.2, 30deg);
    transform: scale(1.03);
}

.black-white-stars {
    position: absolute;
    right: 10.5%;
    z-index: 2;
    /* transform: rotate(30deg); */
    transform: scale(1.5) rotate(30deg);
}
.black-white-stars1 {
    position: absolute;
    left: 15%;
    bottom: 0;
    z-index: 2;
    /* transform: rotate(30deg); */
    transform: scale(1.5) rotate(30deg);
}


/* =========================== Random thrown section ====================== */

.random-thrown-section {
    background-color: rgb(255, 248, 239);
    height: 200vh;
}

.random-thrown-section1 {
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3%;
    position: relative;
    /* background-image: url(/Pictures/PNGs/lines1.png); */
    /* background-position: center; */
}

.random-img {
    object-fit: cover;
}

.wrapper1 {
    position: relative;
    top: 8%;
}
.wrapper2 {
    position: relative;
    /* left: 100px; */
    top: 15%;
    left: 5%;
}
.wrapper3 {
    position: absolute;
    right: 0;
    bottom: 0;
}

.wrapper4 {
    position: absolute;
    top: 3%;
    right: 3%;
}
.wrapper5 {
    position: absolute;
    bottom: 5%;
    left: 15%;
}

.img1 {
    width: 35vw;
    height: 50vh;
}
.img2 {
    width: 20vw;
    height: 36vh;
}
.img3 {
    width: 30vw;
    height: 56vh;
}
.img4 {
    width: 20vw;
    height: 26vh;
}
.img5 {
    width: 25vw;
    height: 26vh;
}

.random-thrown-section2 {
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3%;
    position: relative;
    /* background-image: url(/Pictures/PNGs/lines1.png); */
}
.wrapper6 {
    position: absolute;
    right: 40%;
    top: -6%;
}
.wrapper7 {
    position: relative;
    top: 10%;
    left: 10%;
}
.wrapper8 {
    position: absolute;
    bottom: 5%;
    right: 30%;
}
.wrapper9 {
    position: absolute;
    right: 15%;
    top: 10%;
}
.wrapper10 {
    position: absolute;
    bottom: 0;
    right: 0;
}
.wrapper11 {
    position: absolute;
    bottom: 0;
    left: 0;
}

.img6 {
    width: 15vw;
    height: 26vh;
}
.img7 {
    width: 30vw;
    height: 58vh;
}
.img8 {
    width: 20vw;
    height: 46vh;
}
.img9 {
    width: 20vw;
    height: 26vh;
}
.img10 {
    width: 22vw;
    height: 16vh;
}
.img11{
    width: 18vw;
    height: 20vh;
}

/* =========================== Love section ====================== */

.love-section {
    height: 100vh;
    display: flex;
    position: relative;
    /* background-color: rgb(255, 242, 233); */
    background: linear-gradient(65deg, rgb(97, 68, 35), rgb(224, 224, 224), rgb(209, 201, 191), rgb(114, 78, 37));
    justify-content: center;
    align-items: center;
}

.love {
    width: 60vw;
    height: 95vh;
    object-fit: cover;
}
.love-png {
    position: absolute;
    top: 10%;
    width: 70vw;
    height: 100vh;
    object-fit: contain;
}

/* ===========================  ====================== */

.gradient {
    height: 100vh;
    width: 100%;
}

/* Transitioning gradients */
.gradient {
    position: relative;
    background-image: linear-gradient(
    to bottom,
    hsl(322, 100%, 93%),
    hsl(193, 73%, 76%)
    );
    z-index: 1;
  }
  
  .gradient::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
      to bottom,
      hsl(179, 100%, 50%),
      hsl(197, 94%, 63%)
    );
    z-index: -1;
    transition: opacity 0.5s linear;
    opacity: 0;
  }

  .gradient:hover::before {
    opacity: 0.5;
  }
  /* ===========================   ====================== */

  .test {
    height: 50vh;
    background-color: bisque;
    background-image: url(/Pictures/Landing.jpg);
    background-size: cover;
    background-attachment: fixed;
  }

  .anothertest {
    height: 100vh;
    /* background-color: rgb(134, 112, 85); */
    background-image: url(/Pictures/20200724_165341.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    transition: all 3s; 
}
.anothertest-cont{
      overflow: hidden; 

  }

  .anothertest:hover {
    transform: scale(1.2);
  }

/* =========================== Keyframes====================== */
