/*========================== General settings ===============================*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
:root {
    --white: rgb(226, 226, 226);
    --pink: #dd69b3;
    /* --primary-font: 'Montserrat', sans-serif; */
    --primary-font: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

body {
    font-family: var(--primary-font);
}

li {
    list-style-type: none;
}

/* =========================== Navbar and welcome page ====================== */
header {
    height: 100vh;
    background-image: url(/Pictures/Landing.jpg);
    background-size: cover;
    /* background-size: 200%; */
    background-repeat: no-repeat;
    background-position: center;
    /* background-attachment: fixed; */
}

/* header::after {
    opacity: 0.5;
    background: url(/Pictures/Landing.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
} */

nav {
    /* background-color: gray; */
    padding: 10px;
    display: flex;
    align-items: center;
    /* max-width: 90%; */
    margin: auto;

}

#logo {
    font-family: var(--primary-font);
}
.nav-list {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
}

.nav-list li, #login, #signup  {
    padding: 5px 15px;
    letter-spacing: 4px;
}

.nav-list li:hover {
    color: var(--pink)
}

#login, #signup {
    cursor: pointer;
    font-weight: 900;
    border: none;
    margin-right: 17px;
}

#login {
    background-color: black;
    color: rgb(226, 226, 226);
}

#login:hover {
    background-color: rgb(43, 40, 40);
}

#signup {
    background-color: var(--pink);
    color: var(--white);
}

#signup:hover {
    background-color: #aa3c80;
}

/* =========================== Featured film portofolio ====================== */

.film-portofolio {
    height: 100vh;
    background-color: #1c1c1b;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: rgb(255, 255, 255);
    position: relative;
    overflow: hidden;
}


.film-portofolio h1 {
    width: 600px;
    /* top: 100px; */
    top: 15vh;
    position: absolute;
    font-family: 'Old Standard TT', serif;
    text-align: center;
    font-size: 3vw;
    letter-spacing: 5px;
    z-index: 1;
    text-shadow: 2px 2px 3px #382a20;
}

.film-roll {
    position: absolute;
    width: 30vw;
    transform: rotate(15deg);
    right: 10%;
    top: -10%;
    /* z-index: -1; */
    filter: brightness(0.5);
}

.film-roll1 {
    position: absolute;
    width: 30vw;
    bottom: -5%;
    left: 0;
}

.film-section {
    /* Darken imgs */
    filter: brightness(0.7);
    display: flex;
    flex-direction: row;
    gap: 10px;
    height: 55vh;
}

.film-container {
    overflow: hidden;
    flex: 1;
    width: 22vw;
    cursor: pointer;
}

.film-img {
    /* width: 22vw; */
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.7s ease;    
}

.film-img:hover {
    transform: scale(1.1) rotate(5deg);

}

.navigation {
    position: absolute;
    bottom: 0;
    margin-bottom: 50px;
}

#prev, #next {
    color: #d48e4c;
    font-size: 3vw;
    margin: 30px;
    transition: 0.3s;
    background-color: #1c1c1b;
    border: none;
    width: 6vw;
    /* background-color: rgb(32, 32, 32);
    filter: opacity(0.4); */
}

#prev:hover, #next:hover {
    cursor: pointer;
    color: #d48e4c;
    transform: scale(1.2);

}

/* =========================== Black and White section ====================== */

.black-white-container {
    height: 100vh;
    width: 100%;
    /* background-color:rgb(253, 248, 240); */
    background: linear-gradient(to right, rgb(238, 238, 238), rgb(0, 0, 0), rgb(253, 236, 219));
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
}


.black-white-left {
    width: 25vw;
    height: auto;
    position: absolute;
    top: 5%;
    left: 2%;
    transform: rotate3d(-1, -1, -0.1, 25deg);
    transition: 0.7s;
    z-index: 10;
    cursor: pointer;
}
.black-white-left:hover {
    transform: rotate3d(1, -1, -0.1, 25deg);
    transform: scale(1.03);
}

.black-white-main {
    width: 50vw;
    height: auto;
    object-fit: cover;
    z-index: 3;
}

.black-white-right {
    max-width: 25vw;
    height: auto;
    position: absolute;
    bottom: 10%;
    right: 1%;
    transform: rotate3d(0.5, 10, -3, 25deg);
    transition: 0.7s;
    z-index: 10;
    cursor: pointer;
    /* filter: brightness(0.9); */
}
.black-white-right:hover {
    transform: rotate3d(1, -1, 0.2, 30deg);
    transform: scale(1.03);
}

.black-white-stars {
    position: absolute;
    right: 10.5%;
    z-index: 2;
    /* transform: rotate(30deg); */
    transform: scale(1.5) rotate(30deg);
}
.black-white-stars1 {
    position: absolute;
    left: 15%;
    bottom: 0;
    z-index: 2;
    /* transform: rotate(30deg); */
    transform: scale(1.5) rotate(30deg);
}


/* =========================== Random thrown section ====================== */

.random-thrown-section {
    background-color: rgb(248, 246, 246);
    height: 200vh;
}

.random-thrown-section1 {
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3%;
    position: relative;
}

.random-img {
    object-fit: cover;
    transition: all 0.5s;
    /* border: 5px solid rgb(165, 136, 153); */
}

.random-img:hover {
    cursor: pointer;

}

.wrapper {
    overflow: hidden;
    transition: all 0.5s;
}

.wrapper1 {
    position: relative;
    top: 8%;
    width: 35vw;
    height: 50vh;
    /* transform: rotate(-5deg); */
}
.wrapper2 {
    position: relative;
    /* left: 100px; */
    top: 15%;
    left: 5%;
    width: 20vw;
    height: 36vh;
}
.wrapper3 {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 30vw;
    height: 56vh;
}

.wrapper4 {
    position: absolute;
    top: 3%;
    right: 3%;
    width: 20vw;
    height: 26vh;
}
.wrapper5 {
    position: absolute;
    bottom: 5%;
    left: 15%;
    width: 25vw;
    height: 26vh;
}

.img1 {
    width: 35vw;
    height: 50vh;
}
.img2 {
    width: 20vw;
    height: 36vh;
}
.img3 {
    width: 30vw;
    height: 56vh;
}
.img4 {
    width: 20vw;
    height: 26vh;
}
.img5 {
    width: 25vw;
    height: 26vh;
}

.random-thrown-section2 {
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3%;
    position: relative;
}
.wrapper6 {
    position: absolute;
    right: 40%;
    top: -6%;
    width: 15vw;
    height: 26vh;
}
.wrapper7 {
    position: relative;
    top: 10%;
    left: 10%;
    width: 30vw;
    height: 58vh;
}
.wrapper8 {
    position: absolute;
    bottom: 5%;
    right: 30%;
    width: 20vw;
    height: 46vh;
}
.wrapper9 {
    position: absolute;
    right: 15%;
    top: 10%;
    width: 20vw;
    height: 26vh;
}
.wrapper10 {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 22vw;
    height: 21vh;
}
.wrapper11 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 18vw;
    height: 20vh;
}

.img6 {
    width: 15vw;
    height: 26vh;
}
.img7 {
    width: 30vw;
    height: 58vh;
}
.img8 {
    width: 20vw;
    height: 46vh;
}
.img9 {
    width: 20vw;
    height: 26vh;
}
.img10 {
    width: 22vw;
    height: 21vh;
}
.img11{
    width: 18vw;
    height: 20vh;
}

/* =========================== Love section ====================== */

.love-section {
    height: 100vh;
    display: flex;
    position: relative;
    /* background: linear-gradient(65deg, rgb(77, 46, 11), rgb(224, 224, 224), rgb(209, 201, 191), rgb(73, 39, 0)); */
    background: linear-gradient(65deg, rgb(54, 60, 61), rgb(224, 224, 224), rgb(209, 201, 191), rgb(95, 67, 34));
    justify-content: center;
    align-items: center;
}

.love {
    width: 50vw;
    height: 65vh;
    object-fit: cover;
    z-index: 2;
}
.love-png {
    position: absolute;
    top: 10%;
    width: 70vw;
    height: 100vh;
    object-fit: contain;
    z-index: 2;
}
.love-moon {
    position: absolute;
    width: 35vw;
    height: auto;
    object-fit: center;
    right: 0;
    bottom: 0;
    z-index: 1;
}

/* =========================== Galeries Section ====================== */

.gallerie-section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color: #f7f5f5;
}

.gallerie-title {
    font-size: 6vh;
    color: #4b4b4b;
    font-family: 'Old Standard TT', serif;
}

.gallerie-container {
    display: flex;
    flex-direction: row;
    gap: 5%;
}

.gallerie-wrapper {
    width: 20vw;
    height: 50vh;
    position: relative;
}

.gallerie-img {
    width: 100%;
    height: 40vh;
    object-fit: cover;
    transition: 0.3s ease;
}

.gallerie-img:hover {
    opacity: 0.3;
}

.gallerie-wrapper:hover .click {
    opacity: 1;
    color: rgb(226, 30, 151);
}

.click {
    width: 200px;
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    text-align: center;
    opacity: 0;
    font-size: 3vh;
    /* font-family: 'Old Standard TT', serif; */
}

.description {
    text-align: center;
    padding: 20px;
    font-size: 3vh;
    font-family: Georgia, 'Times New Roman', Times, serif
    /* font-family: 'Old Standard TT', serif; */
}

  /* =========================== Quote section  ====================== */

  .quote {
    height: 100vh;
    background-color: bisque;
    background-image: url(/Pictures/Ciucaru.jpg);
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .quote h1 {
    width: 80%;
    font-size: 8vh;
    font-family: 'Old Standard TT', serif;
    font-weight: 100;
    letter-spacing: 3px;
    text-shadow: 5px 5px 2px black;
    text-align: center;
    color: white;
  }


/* =========================== Newsletter Section ====================== */

.newsletter-section {
    height: 50vh;
    background: linear-gradient(to right, rgb(0, 43, 40), rgb(3, 124, 124), rgb(0, 43, 40));
    display: flex;
    justify-content: center;
letter-spacing: 5px;
}

.newsletter-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50vh;
    width: 50%;
    text-align: center;
}

.pharagraph {
    /* padding: 5%; */
    text-transform: uppercase;
    font-size: 1.5rem;
    color: var(--white);
}

.enter {
    padding-bottom: 7%;
    padding-top: 3%;
    text-transform: uppercase;
    color: var(--pink);
    /* color: rgb(239, 169, 31); */
    font-size: 2rem;
}

input[type=text] {
    background-color:rgb(16, 112, 112);
    /* background: linear-gradient(to right, rgb(0, 43, 40), rgb(3, 124, 124), rgb(0, 43, 40)); */
    border: none;
    border-bottom: 2px solid black;
    padding: 2%;
    text-align: center;
    /* color: rgb(239, 169, 31); */
    color: var(--pink);
    font-family: var(--primary-font);
    font-size: 2rem;
}

/* input:focus {
    color: var(--pink);
    font-family: var(--primary-font);
    font-size: 2rem;
    outline: none;
} */

/* ::placeholder {
    color: var(--pink);
    font-family: var(--primary-font);
    font-size: 2rem;
    letter-spacing: 4px;
} */

.news-button {
    padding: 2%;
    margin: 0 auto;
    background-color: rgb(209, 79, 155);
    color: var(--white);
    border: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 2px;
    margin-top: 2%;
    transition: all 0.3s;
    font-weight: bold;
    font-size: 1rem;
    letter-spacing: 4px;
}

.news-button:hover {
    cursor: pointer;
    transform: scale(1.1);
    background-color: rgb(230, 61, 159);
}

/* =========================== Collage img Section ====================== */
.collage-section {
    border: 2px solid;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.collage-section h1 {
    position: absolute;
    font-size: 4vh;
    z-index: 1;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    top: 40%;
    text-shadow: 2px 2px 5px var(--pink);
    letter-spacing: 3px;
}

.collage-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
    width: 310%;
    position: relative;
    /* animation: mymove 10s linear infinite; */
    pointer-events: none;
}
.collage-container:hover {
    animation-play-state: paused;
}

.img-container {
    /* flex: 1; */
    height: 40vh;
    min-width: 25vw;
}

.collage-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 1px solid rgb(70, 47, 26);
}

@keyframes mymove {
    from {left: 0;}
    to {left: -155%;}
  }

/* ===========================  ====================== */

.gradient {
    height: 100vh;
    width: 100%;
}

/* Transitioning gradients */
.gradient {
    position: relative;
    background-image: linear-gradient(
    to bottom,
    hsl(322, 100%, 93%),
    hsl(193, 73%, 76%)
    );
    z-index: 1;
  }
  
  .gradient::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
      to bottom,
      hsl(179, 100%, 50%),
      hsl(197, 94%, 63%)
    );
    z-index: -1;
    transition: opacity 0.5s linear;
    opacity: 0;
  }

  .gradient:hover::before {
    opacity: 0.5;
  }

   /* =========================== Footer ====================== */

footer {
    height: 100vh;
    background-image: url(/Pictures/footer\ bw\ darken.jpg);
    background-color: black;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    color: var(--pink);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5%;
    letter-spacing: 4px;
}

.social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.social-wrapper {
    width: 60px;
    height: 60px;
    margin: 20px;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
} 

.social-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding: 10px;
    filter: saturate(0);
    transition: all 0.3s;
}

.social-img:hover {
    filter: saturate(1);
    transform: rotate(360deg);
}

.footer-list {
    display: flex;
    gap: 50px;
}

.footer-list li {
    font-size: 3vh;
    color: var(--pink);
    transition: all 0.2s;
}

.footer-list li:hover {
    transform: scale(1.1);
}

.back-top {
    position: absolute;
    right: 10%;
    font-size: 3vh;
    cursor: pointer;
}

.back-top a {
    color: var(--pink);
}

.copyright {
    letter-spacing: 3px;
    font-family: var(--primary-font);
    padding: 5px 10px;
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translate(-50%);
}

/* =========================== Modal login section ====================== */

.modal {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    max-width: 600px;
    border: 1px solid rgb(34, 34, 34);
    padding: 20px;
    position: relative;
}

#close-login {
    position: absolute;
    right: 15px;
    top: 0;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
}
#close-login:hover{
    color: rgb(196, 23, 23);
}

.modal-content h1 {
    margin: 30px 0;
}
.modal-content h1, .modal-content p {
    padding: 10px 0;
    text-align: center;
}

input[type=email], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.remember {
    padding: 14px 0;
}
.forget {
    float: right;
}
.forget a {
    color: #04e090;
}

.login-button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 4px;
    font-size: 18px;
}
.login-button:hover {
    opacity: 0.8;
}

.google, .facebook-login {
    display: flex;
    width: 100%;
    padding: 5px 20px;
    border: 1px solid gray;
    margin: 8px 0;
    border-radius: 4px;
    cursor: pointer;
}

.google:hover, .facebook-login:hover {
    background-color: rgb(245, 245, 245);
}

.google p, .facebook-login p {
    flex: 1;
}

.login-img {
    width: 30px;
    height: 30px;
    object-fit: contain;
}

.signup {
    color: #dd69b3;
    font-weight: bold;
}

.animate {
    animation: animatezoom 0.6s;
}
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}
/* =========================== Keyframes====================== */