/*========================== General settings ===============================*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --white: rgb(226, 226, 226);
    --pink: #dd69b3;
    --primary-font: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

body {
    font-family: var(--primary-font);
}

li {
    list-style-type: none;
}

/* =========================== Navbar and welcome page ====================== */
header {
    height: 100vh;
    background-image: url(/Pictures/Landing.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

nav {
    /* background-color: gray; */
    padding: 10px;
    display: flex;
    align-items: center;
    /* max-width: 90%; */
    margin: auto;

}

#logo {
    /* font-family: var(--primary-font); */
}
.nav-list {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
}

.nav-list li, #login, #signup  {
    padding: 5px 15px;
    letter-spacing: 4px;
}

.nav-list li:hover {
    color: var(--pink)
}

#login, #signup {
    cursor: pointer;
    font-weight: 900;
    border: none;
    margin-right: 17px;
}

#login {
    background-color: black;
    color: rgb(226, 226, 226);
}

#login:hover {
    background-color: rgb(43, 40, 40);
}

#signup {
    background-color: var(--pink);
    color: var(--white);
}

#signup:hover {
    background-color: #aa3c80;
}


/* =========================== Keyframes====================== */
